.project-section {
  /* background-color: cyan; */
  padding-top: 40vh;
  padding-left: 6rem;
}

.columns {
  display: grid;
  grid-template-columns: 26rem 1fr;
  column-gap: 3rem;
}

.column-left {
  /* background-color: yellow; */
}

.column-right {
  /* background-color: magenta; */
  overflow-x: hidden;
}

.thumb {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 15px -3px, rgba(0, 0, 0, 1) 0px 4px 6px -2px;
}