@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  --background: #333333;
  --link-color: #ffffff;
  --page-margin: 8em;
  background-color: var(--background);
  font-family: 'Roboto', serif;
  font-weight: 300;
}

body {
  color: white;
  /* font-family: "Inter", serif; */
  letter-spacing: -0.1px;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

svg {
  height: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Inter', serif;
  font-weight: 350;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1rem;
  font-family: 'Inter', serif;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.text-objs {
  cursor: pointer;
  user-select: none;
  stroke: #00000000;
  stroke-width: 18px;

  &:hover {
    fill: white;
  }
}

.sun {
  cursor: pointer;
}

.animation-shrink {
  transform: scale(1.5);
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  a {
    color: inherit;
  }
  &-area {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin: 3.5em 0.5em 0 0;
    width: 7em;
    font-size: 0.8rem;
  }
}

.page-body {
  margin: 12em var(--page-margin);
  border: 0.1pt solid #00000022;
}

.page-title {
  font-size: 4rem;
  font-weight: 900;
  position: fixed;

  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-4rem);
  bottom: 0;
}
