@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
}

html {
  /* COLOURS */
  --foregroud: #fff;
  --background: #333;
  --dark-background: #222;
  --primary: #ff74ff;
  --dark-primary: #3a193a;
  --call-out-box-background: #ffffff11;
  --link-color: #ffff6a;

  /* FONTS */
  --title-font: 'Inter', serif;
  --regular-font: 'Roboto', serif;
  --monospaced-font: 'Roboto Mono';
}

body {
  color: var(--foregroud);
  background-color: var(--background);
  letter-spacing: -0.1px;
  font-family: var(--regular-font);
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

pre {
  font-family: var(--monospaced-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

svg {
  height: 100%;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--title-font);
  font-weight: 350;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1rem;
  font-family: var(--title-font);
  font-weight: 300;
}
