.outer-wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.thumb {
  border-radius: 100%;
}
